<!DOCTYPE html>
<html>
<head>
<title>Summary</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
	<div class="menu">
		<ul>
			{{#header}}
				<li><a href="{{file}}" class="menuEntry{{#isHighlighted}} menuEntryHighlighted{{/isHighlighted}}">{{name}}</a></li>
			{{/header}}
		</ul>
	</div>
	<div class="contentContainer">
		<h3>Overview</h3>
		<p class="mono">
			Analysis completed in {{elapsedTime}} seconds<br />
			{{numErrors}} errors and {{numWarnings}} warnings detected
		</p>
		{{#errors}}
		<h3>Errors</h3>
		<table>
			<tr>
				<th>Description</th>
				<th>File</th>
				<th>Line</th>
			</tr>
			{{#errorList}}
			<tr>
				<td>{{description}}</td>
				<td>{{filename}}</td>
				<td>{{line}}</td>
			</tr>
			{{/errorList}}
		</table>
		{{/errors}}
		{{#warnings}}
		<h3>Warnings</h3>
		<table>
			<tr>
				<th>Description</th>
				<th>File</th>
				<th>Line</th>
			</tr>
			{{#warningList}}
			<tr>
				<td>{{description}}</td>
				<td>{{filename}}</td>
				<td>{{line}}</td>
			</tr>
			{{/warningList}}
		</table>
		{{/warnings}}
		<h3>Plugin Summary</h3>
		<table>
			<tr>
				<th>Plugin</th>
				<th>Info</th>
			</tr>
			{{{pluginSummary}}}
		</table>
	</div>
</div>
</body>
</html>