<!DOCTYPE html>
<html>
<head>
<title>Summary</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
	<div class="menu">
		<ul>
			{{#header}}
				<li><a href="{{file}}" class="menuEntry{{#isHighlighted}} menuEntryHighlighted{{/isHighlighted}}">{{name}}</a></li>
			{{/header}}
		</ul>
	</div>
	<div class="contentContainer">
		<h3>Overview</h3>
		<pre>
Analysis completed in {{elapsedTime}} seconds
{{numErrors}} errors and {{numWarnings}} warnings detected
		</pre>
		<h3>Errors</h3>
		<h3>Warnings</h3>
		<h3>Plugin Summary</h3>
		<table>
			<tr>
				<th>Plugin</th>
				<th>Info</th>
			</tr>
			{{{pluginSummary}}}
		</table>
	</div>
</div>
</body>
</html>