<!DOCTYPE html>
<html>
<head>
<title>Tree View</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script>
function onClick(source) {
	var sourceLink = document.getElementById(source),
		sourceIFrame = document.getElementById('sourceIFrame'),
		fileList = document.getElementById('fileList'),
		i, len;
	if (source) {
		sourceIFrame.src = source;
		for(i = 0, len = fileList.children.length; i < len; i++) {
			fileList.children[i].classList.remove('active');
		}
		sourceLink.classList.add('active');
	}
}
function preventLink(e) {
	e.preventDefault();
}
</script>
<style type="text/css">
html, body {
	height: 100%;
}
.sourceIFrame {
	width: 95%;
	height: 95%;
	border-width: 0;
}
</style>
</head>
<body>
<div class="container-fluid wrapper">
	<div class="row-fluid columns content">
		<div class="span2 article-tree">
			<br/><a href="{{backLink}}" class="btn btn-large">Back</a>
			<ul id="fileList" class="nav nav-pills nav-stacked">
				{{#files}}
				<li id="{{id}}" onclick="onClick({{id}})"{{#isFolder}} class="disabled"{{/isFolder}}{{#isDefault}} class="active"{{/isDefault}}><a>{{name}}</a></li>
				{{/files}}
			</ul>
		</div>
		<div class="span10 content-area">
			<iframe id="sourceIFrame" class="sourceIFrame" src="{{defaultLink}}"></iframe>
		</div>
	</div>
</div>
</body>
</html>